body
{ 
  background-color: #ededed;
  color: #333;
  font-family: 'Roboto', Arial, sans-serif;
  padding-top: 60px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul.row-list{
  margin-top:20px;
  margin-bottom:50px;
}
ul.row-list li{
  margin:10px;
  list-style: none;
}
ul.row-list li, ul.row-list li select, ul.row-list li input, ul.row-list li button{
  height: 45px;
  margin: 10px;
  padding: 9px;
}
button#disable-button{
  width:100px;
}
